// src/base.scss

$white: #ffffff;
$white-soft: #f8f8f8;
$white-mute: #f2f2f2;

// Light theme variables
$light-background: #ffffff;
$light-text: #000000;

// Dark theme variables
$black: #181818;
$black-soft: #222222;
$black-mute: #282828;

$indigo: #2c3e50;

$divider-light-1: rgba(60, 60, 60, 0.29);
$divider-light-2: rgba(60, 60, 60, 0.12);
$divider-dark-1: rgba(84, 84, 84, 0.65);
$divider-dark-2: rgba(84, 84, 84, 0.48);

$text-light-1: $indigo;
$text-light-2: rgba(60, 60, 60, 0.66);
$text-dark-1: $white;
$text-dark-2: rgba(235, 235, 235, 0.64);

$light-blue-harsh: #2e75a5;
$light-blue: #2980b9;
$light-blue-soft: #4fa6e0;

// Semantic color variables
:root {
  --color-background: #{$white};
  --color-background-soft: #{$white-soft};
  --color-background-mute: #{$white-mute};

  --color-border: #{$divider-light-2};
  --color-border-hover: #{$divider-light-1};

  --color-heading: #{$text-light-1};
  --color-text: #{$text-light-1};

  --color-primary-harsh: #{$light-blue-harsh};
  --color-primary: #{$light-blue};
  --color-primary-soft: #{$light-blue-soft};

  --section-gap: 160px;
}