@import 'theme';

html, body, #app {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
}

hr {
  width: 100%;
}

.column{
  background-color: var(--color-background-soft);
  border: 1px solid var(--color-border);
}

#app {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 8px;
}

input[type="file"] {
  margin: 10px 0;
}

.stats {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-background-mute);
}

.diff {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  //background-color: var(--color-background-mute);
  overflow-y: scroll;
  //white-space: pre;
  flex: 1;
  resize: none;
  scrollbar-color: var(--color-border) var(--color-background-mute);
}

.modal {
  background-color: var(--color-background-soft);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  max-height: 80vh; /* Constrain height */
  margin: auto; /* Center horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center vertically and horizontally */
  align-items: flex-start;

  .header {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-primary);
  color: var(--color-text);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  &:hover {
    background-color: var(--color-primary-soft);
    border-color: var(--color-border-hover);
  }

  &:active {
    background-color: var(--color-primary-harsh);
    border-color: var(--color-border);
  }
}
